<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 29px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 8px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}
</style>
</head>
<div class="bgl">
 
  <form class="modal-content animate" #loginForm = ngForm (ngSubmit)="loginuser(loginForm.value)" novalidate>
    <div class="imgcontainer">
      <img src="assets/images/event1.webp" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <h1 style="color:white;">Sign In</h1>
  
      <label for="loginId"><b style=" color:white">Usermail</b></label><br>
      <input  type="text" placeholder="Enter Username" [(ngModel)]="users.email" ngModel name = "email"
      #email = ngModel required class = "form-control" minlength="10" maxlength="20"><br>
  
      <label for="password"><b style="color:white">Password</b></label><br>
      <input type="password" placeholder="Enter Password" [(ngModel)]="users.password" ngModel name = "password"
      #password = ngModel required class = "form-control" minlength="4" maxlength="15"><br>
          
      
      <a routerLink="/userhomepage" ></a><button [disabled]="!loginForm.valid"> Sign in</button><br>
      
      <a routerLink="/register" > <h3 style="color: white;">New User?</h3></a><br>
      
    </div>
  </form>
  <div class='text-danger'>
    <div *ngIf="email.errors?.required && email.touched"> Enter data in login Id field..</div>
    <div *ngIf="email.errors?.minlength && email.touched"> Enter data in  field..</div>
    
  </div>
  </div>
  




<!-- <div class="imgcontainer">
        <img src="assets\images\event.jpg" alt="Avatar" class="avatar">
        <form  method="post">
      
    
  
    <div class="container">
      <label for="loginId"><b>Username</b></label>
      <input type="text" placeholder="Enter loginId" name="loginId" required>
  
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
          
      <button type="submit" >Login</button>
      <a routerLink="/register">New User? </a>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div> 
  </form>
</div>



<div class="container" style="background-color: antiquewhite">

<form  method="post">
  <div class="imgcontainer">
    <img src="assets/images/event.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="loginId"><b>Username</b></label><br>
    <input type="text" placeholder="Enter Username" name="loginId" required><br>

    <label for="password"><b>Password</b></label><br>
    <input type="password" placeholder="Enter Password" name="password" required><br>
        
    <button type="button" class="submitbtn">Login</button><br>
    <a routerLink="/register"><button type="button" class="submitbtn">Login</button><br></a><br>
    <a routerLink="/register">New User? </a><br>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:burlywood" >
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>-->
  <!--</div>
</form>
</div>

-->
  
  
