.bgl{
    background-image: url("src/assets/images/backgroud.jpg");
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}