<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Helvetica;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}


.imgcontainer {
  text-align: center;
  margin: 29px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}
</style>
</head>

<div class="bgl">
 
<form class="modal-content animate" #loginForm = ngForm (ngSubmit)="loginOrg(loginForm.value)" novalidate>
  <div class="imgcontainer">
    <img src="assets/images/event1.webp" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <h1 style="color: white;">Sign In</h1>

    <label for="loginId"><b style=" color: white;">Orgnaizermail</b></label><br>
    <input  type="text" placeholder="Enter Username" [(ngModel)]="Organizers.email" ngModel name = "email"
    #email = ngModel required class = "form-control" minlength="10" maxlength="20"><br>

    <label for="password"><b style="color: white;">Password</b></label><br>
    <input type="password" placeholder="Enter Password" [(ngModel)]="Organizers.password" ngModel name = "password"
    #password = ngModel required class = "form-control" minlength="3" maxlength="15"><br>
        
    
    <a routerLink="/orghomepage" ></a><button [disabled]="!loginForm.valid"> Sign in</button><br>
    
    <a routerLink="/registerO" ><h3 style="color: white;"> New User?</h3></a><br>
    
  </div>
</form>
<div class='text-danger'>
  <div *ngIf="email.errors?.required && email.touched"> Enter data in login Id field..</div>
  <div *ngIf="email.errors?.minlength && email.touched"> Enter data in  field..</div>
  
</div>
</div>


</html>





<!--
  <button type="button" class="submitbtn">Login</button><br>
    <button [disabled]="!loginForm.valid">Sign in</button><br>
<a routerLink="/orghomepage"><button [disabled]="!loginForm.valid" >Sign in</button><br></a><br><br>
    <a routerLink="/orghomepage">Login</a><br>-->