<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Helvetica;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 29px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 8px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 50%;
  }
}
</style>
</head>
<body>





<div class="bgl" >

  <form  class="modal-content animate" #registerForm = ngForm (ngSubmit)="registerOrgs(registerForm.value)" novalidate>

    <div class="imgcontainer">
        <img src="assets/images/event1.webp" alt="Avatar" class="avatar">
      </div>
    <div class="container">
      <h1 style="color: white;">Sign Up</h1>
      <label for="oname"><b style="color: white;">Name</b></label><br>
    <input type="text" placeholder="Enter name" [(ngModel)]="Organizers.oname" ngModel name = "oname"
    #oname = ngModel required class = "form-control" minlength="3" maxlength="10"><br>

    <label for="email"><b style="color: white;">Email</b></label><br>
    <input type="text" placeholder="Enter email" [(ngModel)]="Organizers.email" ngModel name = "email"
    #email = ngModel required class = "form-control" minlength="10" maxlength="20"><br>

    <label for="phonenumber"><b style="color: white;">Phonenumber</b></label><br>
    <input type="text" placeholder="Enter phonenumber" [(ngModel)]="Organizers.phonenumber" ngModel name = "phonenumber"
    #phonenumber = ngModel required class = "form-control" minlength="10" maxlength="10"><br>

    <label for="password"><b style="color: white;">Password</b></label><br>
    <input type="password" placeholder="Enter Password" [(ngModel)]="Organizers.password" ngModel name = "password"
    #password = ngModel required class = "form-control" minlength="3" maxlength="15"><br>

    <br>
  
    <div class="clearfix">
    <!--<button (click)="registerOrgs()" >Submit</button>-->
    <!--<a routerLink="/orglogin">Sign up</button><br></a><br><br>-->
    <a routerLink="/orglogin"><button [disabled]="!registerForm.valid" (click)="registerOrg()">Sign up</button><br></a><br><br>

    <!--<a routerLink="/orglogin"><button (click)="registerOrg()">Submit</button><br></a><br><br>-->
      
    </div>
  </div>
</form>

</div>

  

<!--
      <label for="oname"><b>Name</b></label><br>
      <br><input type="text" placeholder="Enter name"  [(ngModel)]="Organizers.oname" required><br/>
  
      <label for="email"><b>Email</b></label><br>
      <br><input type="text" placeholder="Enter email" [(ngModel)]="Organizers.email" required><br/>
  
      <label for="phonenumber"><b>Phonenumber</b></label><br>
      <br><input type="text" placeholder="Enter Phonenumber" [(ngModel)]="Organizers.phonenumber" required><br/>

      <label for="password"><b>Password</b></label><br>
      <br><input type="password" placeholder="Enter Password" [(ngModel)]="Organizers.password" required><br/>
  
      
-->
     